*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: poppins, sans-serif;
}

/* Header */

.background{
    width: 100%;
    height: 900px;
    background-image: url(../images/banner-bg.jpg);
    background-size: 108% 980px;
    background-repeat: no-repeat;
    background-position: fixed;
    position: absolute;
    z-index: -1;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
}

header{
    width: 88%;
    height: 9rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-nav ul li{
    list-style-type: none;
    display: inline;
    margin-left: 1rem;
}

.home-nav ul li a{
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 300;
    color: #ffffff;
    padding: 0.7rem 1.3rem;
    border-radius: 1.5rem;
}

.hovered:hover{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 1.5rem;
}

.focused{
    background-color: rgba(255, 255, 255, 0.1);
}

.sign-in{
    background-color: #ef5860;
}

/* Home */

.container{
    width: 88%;
    margin: auto;
    padding-top: 5rem;
    display: flex;
}

.home-txt{
    width: 60%;
}

.style-txt{
    width: 80%;
}

.lugx{
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 500;
}

.gaming-site{
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
    font-family: poppins, sans-serif;
    color: #ffffff;
    margin-top: 1rem;
}

.caption-dec{
    position: absolute;
    margin-left: 7.5rem;
    margin-top: -0.5rem;
}

.home-para{
    margin-top: 3rem;
    font-weight: 350;
    color: #ffffff;
}

.input-search{
    margin-top: 3.8rem;
}

.search-btn{
    text-decoration: none;
    color: #ffffff;
    background-color: #ef5860;
    padding: 0.8rem 1.5rem;
    border-radius: 2.5rem;
    position: absolute;
    margin-left: 270px;
    margin-top: -49px;
}

.search-btn:hover{
    background-color: #0173f1;
}

.input-search input{
    width: 26.48rem;
    border: #ffffff;
    padding: 1.05rem 0rem;
    padding-right: 8.5rem;
    padding-left: 1.2rem;
    border-radius: 1.5rem;
    position: relative;
}

form input{
    outline: none;
}

.home-img{
    width: 40%;
}

.home-img-style{
    text-align: right;
}

.home-img-style img{
    width: 80%;
    border-radius: 1.5rem;
    position: relative;
}

.discounted-price{
    width: 4.5rem;
    font-size: 1.25rem;
    text-align: center;
    color: #ffffff;
    background-color: #0173f1;
    border-radius: 1.5rem;
    padding: 0.5rem 0.9rem;
    position: absolute;
    margin-left: 355px;
    margin-top: -420px;
}

.discounted-percentage{
    text-align: center;
    width: 6.5rem;
    height: 6.5rem;
    font-size: 1.7rem;
    color: #ffffff;
    background-color: #ef5860;
    border-radius: 50%;
    padding: 2rem 0.5rem;
    position: absolute;
    margin-top: -75px;
    margin-left: 60px;
}

.four-section{
    width: 88%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    z-index: 10;
    margin-top: 10rem;
}

.box{
    max-width: 100%;
    width: 260px;
    min-height: 200px;
    background-color: #ffffff;
    box-shadow: 0 0 10px #999;
    border-radius: 1.5rem;
    text-align: center;
}

.box img{
    background-color: #0173f1;
    padding: 0.9rem;
    border-radius: 3.2rem;
    margin-top: 1.8rem;
    margin-bottom: 0.5rem;
}

.box img:hover{
    background-color: #fa4d5a;
    transition: all 0.3s ease;
}

.box p{
    font-size: 1.2rem;
    font-weight: 600;
    color: #444;
}

/* Trending */

.trending{
    width: 88%;
    margin: auto;
    margin-top: 110px;
}

.title-trending{
    font-size: 1rem;
    font-weight: 600;
    color: #fa4d5a;
    margin-bottom: 1rem;
}

.title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3.5rem;
}

.trending-2{
    font-size: 2.2rem;
    color: #333;
}

.view-all a{
    font-size: 0.9rem;
    font-weight: 600;
    text-decoration: none;
    color: #ffffff;
    padding: 0.9rem 1.8rem;
    border-radius: 1.5rem;
    background-color: #fa4d5a;
}

.view-all a:hover{
    background-color: #0173f1;
    transition: all 0.3s ease;
}

.trending-games{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 0.6rem;
}

.trending-div-link{
    text-decoration: none;
}

.games{
    position: relative;
    height: auto;
    min-height: 285px;
    background-color: #eee;
    border-radius: 1.5rem;
}

.games:hover .icon-shop{
    background-color: #0173f1;
}

.games:hover .game-title{
    color: #0173f1;
}

.games img{
    width: 100%;
    border-radius: 1.5rem;
}

.price-1-3{
    text-align: right;
    position: absolute;
    color: #fff;
    background-color: #0173f1;
    padding: 0.5rem 1rem;
    border-radius: 0.7rem;
    margin-top: -185px;
    margin-left: 190px;
}

.price-1-3 del{
    font-size: 0.9rem;
}

.text{
    width: 80%;
    margin: 1rem auto;
}

.text-sub{
    display: flex;
    justify-content: space-between;
}

.text-sub p{
    font-size: 0.9rem;
    color: #444;
}

.icon-shop{
    width: 40px;
    height: 40px;
    color: #fff;
    text-align: center;
    background-color: #ef5860;
    padding: 10px 0px 5px;
    border-radius: 50%;
}

.game-title{
    position: absolute;
    margin-top: -15px;
}

/* Most Played */

.most-played-bg{
    margin-top: 7rem;
    width: 100%;
    height: 620px;
    background-color: #F5F5F5;
    border-radius: 8rem;
}

.most-played{
    width: 88%;
    margin: auto;
    padding-top: 100px;
}

.title h2{
    font-size: 1.7rem;
    color: #333;
}

.mst-games{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.mstp-games{
    width: 100%;
    height: 275px;
    background-color: #fff;
    border-radius: 25px;
    display: flex;
    justify-content: start;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.mstp-games a img{
    width: 100%;
    height: 170px;
    border-radius: 25px;
    margin-bottom: 5px;
}

.mstp-games:hover .game-name{
    color: #0173f1;
    transition: all 0.3s ease;
}

.mstp-games:hover .explore{
    background-color: #0173f1;
    transition: all 0.3s ease;
}

.text-mstp{
    display: flex;
    justify-content: center;
    flex-direction: column; 
    align-items: center;
    margin-bottom: 4px;
}

.gray-text{
    font-size: 0.85rem;
    color: #777;
}

.game-name{
    font-weight: 500;
}

.explore{
    background-color: #fa4d5a;
    padding: 10px 15px;
    border-radius: 25px;
    color: #ffffff;
}

.explore a{
    text-decoration: none;
    color: #fff;
}

/* Top Caregories */

.top-cate{
    width: 88%;
    height: 500px;
    margin: 80px auto;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
}

.top-games{
    width: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 26px;
}

.tp-sub-games{
    background-color: #0173f1;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.tp-sub-games a img{
    width: 100%;
    height: auto;
    border-radius: 25px;
    margin: 0 auto -7px;
}

.tp-sub-games h3{
    font-weight: 600;
    text-align: center;
    margin: 20px 0px;
    color: #fff;
}

/* last section */

.main-1{
    width: 88%;
    height: 700px;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 110px;
    position: relative;
}

.text-1{
    width: 450px;
    min-height: 600px;
    height: auto;
    background-color: #eee;
    border-radius: 25px;
    position: absolute;
    z-index: 10;
    margin-left: -660px;
    margin-top: 80px;
}

.txt-1-sub{
    width: 65%;
    margin: 60px auto;
}

.txt-1-sub .title-trending{
    margin-bottom: 15px;
}

.last-part-text{
    margin-bottom: 40px;
}

.last-part-text p{
    font-size: 2.3rem;
    font-weight: 600;
    color: #000;
}

.color-title{
    color: #0173f1;
}

.last-part-text-para{
    line-height: 1.8;
    color: #444;
    margin-bottom: 50px;
}

.shop-now{
    font-size: 0.9rem;
    font-weight: 400;
    text-decoration: none;
    background-color: #ff6b6b;
    color: #fff;
    border-radius: 25px;
    padding: 15px 25px;
}

.shop-now:hover{
    background-color: #0173f1;
    transition: all 0.3s ease;
}

.img-1{
    position: absolute;
    z-index: -1;
}

.img-1 img{
    border-radius: 25px;
}

.text-2{
    width: 450px;
    min-height: 465px;
    height: auto;
    background-color: #eee;
    border-radius: 25px;
    position: absolute;
    z-index: 10;
    margin-left: 650px;
    margin-top: 215px;
}

.txt-2-sub{
    width: 75%;
    margin: 80px auto;
}

.last-text-2{
    font-size: 2.4rem;
    font-weight: 600;
}

.last-text-2 span{
    color: #0173f1;
}

.email-input{
    position: relative;
    margin-top: 30px;
}

.email-input input{
    width: 337px;
    outline: none;
    background-color: #fff;
    padding: 17px 0px;
    padding-left: 20px;
    padding-right: 200px;
    border-radius: 35px;
    border: none;
}

.email-input input:focus{
    outline: 4px solid rgba(1, 115, 241, 0.3);
}

.email-input a p{
    font-weight: 400;
    background-color: #ff6b6b;
    position: absolute;
    padding: 13px 25px;
    border-radius: 35px;
    margin-top: -48.9px;
    margin-left: 159px;
}

.email-input p:hover{
    background-color: #0173f1;
    transition: all 0.3s ease;
    cursor: pointer;
}

.btn-email{
    text-decoration: none;
    color: #fff;
}

/* Footer */

footer{
    width: 100%;
    height: 150px;
    background-image: url(../images/footer-bg.jpg);
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    text-align: center;
}

footer p{
    padding-top: 30px;
    font-size: 20px;
    color: #fff
}

/*  */

.background-img {
    width: 100%;
    height: 450px;
    background-image: url(../images/page-heading-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom-left-radius: 140px;
    border-bottom-right-radius: 140px;
    z-index: -1;
}

/* body */

.txt-body{
	width: 88%;
	margin: auto;
	text-align: center;
	margin-top: 70px;
	margin-bottom: 250px;
	
}

.txt-body p a, h1, .txt-body p{
	text-decoration: none;
	color: #fff;
}

.txt-body p a, .txt-body p{
	font-weight: 400;
}

.txt-body h1{
	margin-bottom: 20px;
	font-size: 50px;
	font-weight: 800;
}

.filters{
	width: 88%;
	margin: auto;
}

.filters{
	display: flex;
	justify-content: center;
	gap: 35px;
	margin-bottom: 80px;
}

.filters input[type="radio"] {
	display: none;
}

.filters label{
	font-weight: 600;
	font-size: 1rem;
	color: #333;
	background-color: #eee;
	padding: 8px 17px;
	border-radius: 35px;
}

.filters label:hover{
	cursor: pointer;
	color: #eb505c;
	transition: all 0.2s ease;
}

.filters input[type="radio"]:checked + label {
	background-color: #eb505c;
	color: #fff;
	transition: all 0.3s ease;
}

.game-list{
	width: 88%;
	margin: 70px auto 80px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 25px;
}

.game-list a{
	text-decoration: none;
}

.game-link {
    transition: all 0.3s ease;
}

.game-link[style="display: none;"] {
    opacity: 0;
    height: 0;
}


.game-list .game-link{
	background-color: #eee;
	height: 285px;
	border-radius: 25px;
}

.game-link:hover{
	cursor: default;
}

.games img:hover{
	cursor: pointer;
}

.text-icon .icon-shop:hover{
	cursor: pointer;
}

.games h3:hover{
	cursor: text;
}

.game-link:hover .icon-shop{
	background-color: #016fed;
}

.game-link:hover .game-name{
	color: #0191eb;
}

.games img{
	width: 100%;
	border-radius: 35px;
}

.price-tag{
	background-color: #0191eb;
	color: #fff;
	font-size: 18px;
	padding: 8px 10px;
	border-radius: 15px;
	display: inline-block;
	position: absolute;
	margin-left: -65px;
	margin-top: 20px;
}

.del-price{
	font-weight: 400;
	font-size: 16px;
}

.text-icon{
	width: 80%;
	margin: 20px auto 5px;
	display: flex;
	justify-content: space-between;
}

.game-catagory{
    font-size: 0.8rem;
	color: #777;
	font-weight: 450;
}

.icon-shop{
	width: 40px;
	height: 40px;
	text-align: center;
	color: #fff;
	background-color: #eb505c;
	padding: 12px;
	border-radius: 50%;
}

.game-name{
    font-size: 1.1rem;
    font-weight: 600;
	color: #333;
	position: absolute;
	margin-top: -25px;
	margin-left: 25px;
}

.buttons{
	width: 88%;
	margin: 0px auto 180px;
	display: flex;
	justify-content: center;
	gap: 15px;
}

.buttons a{
	text-decoration: none;
}

.buttons p{
	padding-top: 7px;
}

.buttons-01 p{
	font-size: 19px;
	font-weight: 700;
}

.buttons-01{
	background-color: #eee;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	text-align: center;
}

.buttons-01 p{
	color: #000;
}

#focused{
	background-color: #016fed;
}

#focused p{
	color: #fff;
}

.buttons-01:hover{
	background-color: #016fed;
	transition: all 0.2s ease;
	cursor: pointer;
}

.buttons-01:hover p{
	color: #fff;
	transition: all 0.1s ease;
}

/* Product Details Page */
/* Body */

.text-top-page{
	text-align: center;
	margin-top: 70px;
}

.text-top-page h1{
	font-size: 55px;
	margin-bottom: 15px;
}

.text-top-page p , p a{
	color: #fff;
	font-weight: 500;
}

.text-top-page p a{
	text-decoration: none;
}

.shop-info{
	width: 88%;
	margin: 250px auto 60px;
	display: flex;
	gap: 100px;
}

.shop-image{
	width: 45%;
}

.shop-text{
	width: 55%;
}

.shop-text-sub{
	width: 88%;
}

.shop-image img{
	width: 100%;
}

.shop-text-sub h2{
    font-size: 1.6rem;
	color: #000;
	margin-bottom: 20px;
}

.shop-text p del{
	color: #aaa;
	font-size: 20px;
	font-weight: 500;
}

.twotwo{
	font-size: 30px;
	color: #016fed;
	margin-left: 10px;
}

#para-first{
	margin-bottom: 60px;
}

.para{
	margin-top: 10px;
    font-size: 0.9rem;
}

.buy-button{
	margin: 60px 0px 60px;
	display: flex;
	gap: 10px;
}

.buy-button input{
	text-align: center;
}

.buy-button input[type="text"] {
	font-size: 18px;
	height: 50px;
	width: 80px;
	border-radius: 35px;
	background-color: #eee;
	border: none;
}

.buy-button input:focus{
	outline: 4px solid rgba(1, 115, 241, 0.3);
}

.buy-button a{
	text-decoration: none;
	font-size: 18px;
	background-color: #eb505c;
	color: #fff;
	padding: 13px 25px;
	border-radius: 35px;
}

.buy-button a:hover{
	background-color: #016fed;
	transition: all 0.2s ease;
}

.game-info p{
    font-size: 0.9rem;
    font-weight: 400;
	width: 300px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: space-between;
	margin-bottom: 20px;
}

.title-info{
	color: #bbb;
}

.the-info, .the-info a{
	color: #016fed;
}

.the-info a{
	text-decoration: none;
    font-weight: 400;
}

#after-div{
	width: 88%;
	margin: auto;
	border: none;
	height: 0.5px;
	background-color: #bbb;
	margin-bottom: 50px;
}

.desc-container{
	width: 88%;
	margin: auto;
	padding: 40px 70px;
	border-radius: 25px;
	background-color: #eee;
}

.tab-radio{
	display: none;
}

.tab-label{
	font-size: 1.2rem;
	font-weight: bold;
	color: #000;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
}

.tab-radio:checked + .tab-label{
	color: #007bff;
}

#content1, #content2{
	margin-top: 20px;
}

.para-in-content{
	margin-top: 25px;
}

.desc-container div p{
	line-height: 1.7;
}

.tab-content{
	display: none;
}

#tab-1:checked ~ #content1,
#tab-2:checked ~ #content2{
	display: block;
}

.related{
	width: 90%;
	margin: 100px auto 140px;
}

.related-sub-div p a{
	text-decoration: none;
	color: #fff;
}

.related-sub-div p{
	background-color: #ff6b6b;
	padding: 15px 30px;
	border-radius: 35px;
}

.related-sub-div p:hover{
	background-color: #007bff;
	transition: all 0.3s ease;
}

.related-sub-div{
	display: flex;
	justify-content: space-between;
	margin: 15px auto 70px;
}

.related-sub-div h3{
    font-size: 2rem;
	color: #000;
}

.related-games{
	display: flex;
	justify-content: space-between;
	gap: 15px;
}

.games-div{
	height: 258px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	text-align: center;
	background-color: #007bff;
	color: #fff;
	border-radius: 35px;
}

.games-div p{
	margin: 18px 0px 15px;
}

.games-div a img{
	width: 100%;
	border-radius: 35px;
}


/* Contact.html */

header{
	width: 90%;
	margin: auto;
	padding-top: 40px;
}

.nav-contact{
	display: flex;
	justify-content: space-between;
}

.nav-contact ul li{
	list-style-type: none;
}

.nav-contact ul li a{
	text-decoration: none;
	padding: 10px 25px;
	margin-left: 20px;
	border-radius: 35px;
	color: #f1f1f1;
}

.nav-contact ul{
	display: flex;
	margin-top: 20px;
}

.text{
	text-align: center;
	margin-top: 120px;
}

.text h1{
	font-size: 60px;
	margin-bottom: 10px;
}

.text p a{
	text-decoration: none;
}

.text p, .text p a{
	color: #f1f1f1;
}

.main-body{
	width: 90%;
	margin: 200px auto 150px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 60px;
}

.text-part{
	background-color: #eee;
	padding: 60px;
	border-radius: 25px;
	min-width: 100%;
	max-width: 100%;
}

.text-part h3{
	color: #ff6b6b;
	font-size: 17px;
	margin-bottom: 20px;
}

#p-1{
	font-size: 40px;
	font-weight: 1000;
	margin-bottom:45px ;
}

#p-2{
	line-height: 1.7;
	margin-bottom: 45px;
}

.p-3 span{
	color: #000;
	font-weight: 1000;
}

.p-3{
	color: #777;
	margin-bottom: 30px;
	line-height: 1.7;
}

.map iframe{
	border-radius: 25px;
	margin-bottom: 45px;
}

.first-four{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
	margin: 0px 0px 25px;
}

.map form input{
	padding: 16px 15px;
	border-radius: 35px;
	border: 0.5px solid #ccc;
	background-color: #eee;
}

.map form textarea{
	display: block;
	width: 100%;
	min-height: 150px;
	padding: 20px 15px;
	margin-bottom: 40px;
	resize: vertical;
	border: #ccc;
	border-radius: 35px;
	background-color: #eee;
}

.map form input[type="submit"] {
	background-color: #ff6b6b;
	color: #f1f1f1;
	padding: 15px 25px;
}

.map form input[type="submit"]:hover{
	background-color: #007bff;
	cursor: pointer;
	transition: all 0.3s ease;
}