html{
	scroll-behavior: smooth;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.background-img {
    width: 100%;
    height: 400px;
    background-image: url(../images/page-heading-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom-left-radius: 140px;
    border-bottom-right-radius: 140px;
    z-index: -1;
}

header {
    position: relative;
    z-index: 1; 
}


/* Header-Shop */

.header-shop{
	width: 90%;
	margin: auto;
}

.nav-shop{
	display: flex;
	justify-content: space-between;
	padding-top: 45px;
}

.nav-shop ul{
	display: flex;
	margin-top: 20px;
}

.nav-shop ul li{
	list-style-type: none;
	margin-left: 35px;
}

.nav-shop ul li a{
	text-decoration: none;
	border-radius: 35px;
	padding: 10px 20px;
	color: #fff;
	font-weight: 450;
}

.nav-hover:hover{
	background-color: rgba(255, 255, 255, 0.1);
}

.sign-in{
	background-color: #ff6b6b;
}

.main-focus{
	background-color: rgba(255, 255, 255, 0.1);
}

/* body */

.txt-body{
	width: 90%;
	margin: auto;
	text-align: center;
	margin-top: 70px;
	margin-bottom: 250px;
	
}

.txt-body h3 a, h1, .txt-body h3{
	text-decoration: none;
	color: #fff;
}

.txt-body h3 a, .txt-body h3{
	font-weight: 400;
}

.txt-body h1{
	margin-bottom: 20px;
	font-size: 50px;
	font-weight: 800;
}

.filters{
	width: 90%;
	margin: auto;
}

.filters{
	display: flex;
	justify-content: center;
	gap: 35px;
	margin-bottom: 80px;
}

.filters input[type="radio"] {
	display: none;
}

.filters label{
	font-weight: 800;
	font-size: 17px;
	color: #333;
	background-color: #eee;
	padding: 8px 17px;
	border-radius: 35px;
}

.filters label:hover{
	cursor: pointer;
	color: #eb505c;
	transition: all 0.2s ease;
}

.filters input[type="radio"]:checked + label {
	background-color: #eb505c;
	color: #fff;
	transition: all 0.3s ease;
}

.game-list{
	width: 90%;
	margin: 70px auto 80px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 25px;
}

.game-list a{
	text-decoration: none;
}

.game-link {
    transition: all 0.3s ease;
}

.game-link[style="display: none;"] {
    opacity: 0;
    height: 0;
}


.game-list .game-link{
	background-color: #eee;
	height: 285px;
	border-radius: 25px;
}

.game-link:hover{
	cursor: default;
}

.games img:hover{
	cursor: pointer;
}

.text-icon .icon-shop:hover{
	cursor: pointer;
}

.games h3:hover{
	cursor: text;
}

.game-link:hover .icon-shop{
	background-color: #016fed;
}

.game-link:hover .game-name{
	color: #0191eb;
}

.games img{
	width: 100%;
	border-radius: 35px;
}

.price-tag{
	background-color: #0191eb;
	color: #fff;
	font-size: 18px;
	padding: 8px 10px;
	border-radius: 15px;
	display: inline-block;
	position: absolute;
	margin-left: -65px;
	margin-top: 20px;
}

.del-price{
	font-weight: 400;
	font-size: 16px;
}

.text-icon{
	width: 80%;
	margin: 20px auto 5px;
	display: flex;
	justify-content: space-between;
}

.game-catagory{
	color: #777;
	font-weight: 550;
}

.icon-shop{
	width: 40px;
	height: 40px;
	text-align: center;
	color: #fff;
	background-color: #eb505c;
	padding: 12px;
	border-radius: 50%;
}

.game-name{
	color: #000;
	position: absolute;
	margin-top: -25px;
	margin-left: 25px;
}

.buttons{
	width: 90%;
	margin: 0px auto 180px;
	display: flex;
	justify-content: center;
	gap: 15px;
}

.buttons a{
	text-decoration: none;
}

.buttons p{
	padding-top: 7px;
}

.buttons-01 p{
	font-size: 19px;
	font-weight: 700;
}

.buttons-01{
	background-color: #eee;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	text-align: center;
}

.buttons-01 p{
	color: #000;
}

#focused{
	background-color: #016fed;
}

#focused p{
	color: #fff;
}

.buttons-01:hover{
	background-color: #016fed;
	transition: all 0.2s ease;
	cursor: pointer;
}

.buttons-01:hover p{
	color: #fff;
	transition: all 0.1s ease;
}

/* footer */

footer{
	width: 100%;
	height: 150px;
	background-image: url(../images/footer-bg.jpg);
	background-position: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	border-top-left-radius: 150px;
	border-top-right-radius: 150px;
}

footer p{
	color: #fff;
	font-size: 20px;
	text-align: center;
	padding-top: 30px;
}


/* Product Details Page */

/* Header */

.background-pd{
	width: 100%;
	height: 440px;
	background-image: url(../images/page-heading-bg.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	border-bottom-left-radius: 150px;
	border-bottom-right-radius: 150px;
	z-index: -1;
}

#nav-pd{
	width: 85%;
	margin: auto;
	padding-top: 40px;
	display: flex;
	justify-content: space-between;
}

#nav-pd ul{
	display: flex;
	gap: 20px;
	padding-top: 15px;
}

#nav-pd ul li{
	list-style-type: none;
}

#nav-pd ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 17.5px;
	font-weight: 350;
	padding: 8.5px 21px;
	border-radius: 35px;
}

#nav-pd ul li .hovers:hover{
	background-color: rgba(255, 255, 255, 0.1);
	transition: all 0.2s ease;
}

/* Body */

.text-top-page{
	text-align: center;
	margin-top: 105px;
}

.text-top-page h1{
	font-size: 55px;
	margin-bottom: 15px;
}

.text-top-page h3 , h3 a{
	color: #fff;
	font-weight: 500;
}

.text-top-page h3 a{
	text-decoration: none;
}

.shop-info{
	width: 90%;
	margin: 250px auto 60px;
	display: flex;
	gap: 100px;
}

.shop-image{
	width: 45%;
}

.shop-text{
	width: 55%;
}

.shop-text-sub{
	width: 90%;
}

.shop-image img{
	width: 100%;
}

.shop-text h1{
	color: #000;
	margin-bottom: 20px;
}

.shop-text p del{
	color: #aaa;
	font-size: 20px;
	font-weight: 500;
}

.twotwo{
	font-size: 30px;
	color: #016fed;
	margin-left: 10px;
}

#para-first{
	margin-bottom: 60px;
}

.para{
	margin-top: 10px;
}

.buy-button{
	margin: 60px 0px 60px;
	display: flex;
	gap: 10px;
}

.buy-button input{
	text-align: center;
}

.buy-button input[type="text"] {
	font-size: 18px;
	height: 50px;
	width: 80px;
	border-radius: 35px;
	background-color: #eee;
	border: none;
}

.buy-button input:focus{
	outline: 4px solid rgba(1, 115, 241, 0.3);
}

.buy-button a{
	text-decoration: none;
	font-size: 18px;
	background-color: #eb505c;
	color: #fff;
	padding: 13px 25px;
	border-radius: 35px;
}

.buy-button a:hover{
	background-color: #016fed;
	transition: all 0.2s ease;
}

.game-info p{
	width: 270px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: space-between;
	margin-bottom: 20px;
}

.title-info{
	color: #bbb;
}

.the-info, .the-info a{
	color: #016fed;
}

.the-info a{
	text-decoration: none;
}

#after-div{
	width: 90%;
	margin: auto;
	border: none;
	height: 0.5px;
	background-color: #bbb;
	margin-bottom: 50px;
}

.desc-container{
	width: 90%;
	margin: auto;
	padding: 40px 70px;
	border-radius: 25px;
	background-color: #eee;
}

.tab-radio{
	display: none;
}

.tab-label{
	font-size: 24px;
	font-weight: bold;
	color: #000;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
}

.tab-radio:checked + .tab-label{
	color: #007bff;
}

#content1, #content2{
	margin-top: 20px;
}

.para-in-content{
	margin-top: 25px;
}

.desc-container div p{
	line-height: 1.7;
}

.tab-content{
	display: none;
}

#tab-1:checked ~ #content1,
#tab-2:checked ~ #content2{
	display: block;
}

.related{
	width: 90%;
	margin: 100px auto 140px;
}

#first-child{
	color: #ff6b6b;
	font-size: 15px;
	font-weight: 700;
}

.related-sub-div p a{
	text-decoration: none;
	color: #fff;
}

.related-sub-div p{
	background-color: #ff6b6b;
	padding: 15px 30px;
	border-radius: 35px;
}

.related-sub-div p:hover{
	background-color: #007bff;
	transition: all 0.3s ease;
}

.related-sub-div{
	display: flex;
	justify-content: space-between;
	margin: 15px auto 40px;
}

.related-sub-div h1{
	color: #000;
}

.related-games{
	display: flex;
	justify-content: space-between;
	gap: 15px;
}

.games-div{
	height: 258px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	text-align: center;
	background-color: #007bff;
	color: #fff;
	border-radius: 35px;
}

.games-div h3{
	margin: 18px 0px 15px;
}

.games-div a img{
	width: 100%;
	border-radius: 35px;
}

/* Footer */