*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: poppins, sans-serif;
}

/* Header */

.background{
    width: 100%;
    height: 900px;
    background-image: url(../images/banner-bg.jpg);
    background-size: 108% 980px;
    background-repeat: no-repeat;
    background-position: fixed;
    position: absolute;
    z-index: -1;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
}

header{
    width: 88%;
    height: 9rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-nav ul li{
    list-style-type: none;
    display: inline;
    margin-left: 1rem;
}

.home-nav ul li a{
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 300;
    color: #ffffff;
    padding: 0.7rem 1.3rem;
    border-radius: 1.5rem;
}

.hovered:hover{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 1.5rem;
}

.focused{
    background-color: rgba(255, 255, 255, 0.1);
}

.sign-in{
    background-color: #ef5860;
}

/* Home */

.container{
    width: 88%;
    margin: auto;
    padding-top: 5rem;
    display: flex;
}

.home-txt{
    width: 60%;
}

.style-txt{
    width: 80%;
}

.lugx{
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 500;
}

.gaming-site{
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
    font-family: poppins, sans-serif;
    color: #ffffff;
    margin-top: 1rem;
}

.caption-dec{
    position: absolute;
    margin-left: 7.5rem;
    margin-top: -0.5rem;
}

.home-para{
    margin-top: 3rem;
    font-weight: 350;
    color: #ffffff;
}

.input-search{
    margin-top: 3.8rem;
}

.search-btn{
    text-decoration: none;
    color: #ffffff;
    background-color: #ef5860;
    padding: 0.8rem 1.5rem;
    border-radius: 2.5rem;
    position: absolute;
    margin-left: 270px;
    margin-top: -49px;
}

.search-btn:hover{
    background-color: #0173f1;
}

.input-search input{
    width: 26.48rem;
    border: #ffffff;
    padding: 1.05rem 0rem;
    padding-right: 8.5rem;
    padding-left: 1.2rem;
    border-radius: 1.5rem;
    position: relative;
}

form input{
    outline: none;
}

.home-img{
    width: 40%;
}

.home-img-style{
    text-align: right;
}

.home-img-style img{
    width: 80%;
    border-radius: 1.5rem;
    position: relative;
}

.discounted-price{
    width: 4.5rem;
    font-size: 1.25rem;
    text-align: center;
    color: #ffffff;
    background-color: #0173f1;
    border-radius: 1.5rem;
    padding: 0.5rem 0.9rem;
    position: absolute;
    margin-left: 355px;
    margin-top: -420px;
}

.discounted-percentage{
    text-align: center;
    width: 6.5rem;
    height: 6.5rem;
    font-size: 1.7rem;
    color: #ffffff;
    background-color: #ef5860;
    border-radius: 50%;
    padding: 2rem 0.5rem;
    position: absolute;
    margin-top: -75px;
    margin-left: 60px;
}

.four-section{
    width: 88%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    z-index: 10;
    margin-top: 10rem;
}

.box{
    max-width: 100%;
    width: 260px;
    min-height: 200px;
    background-color: #ffffff;
    box-shadow: 0 0 10px #999;
    border-radius: 1.5rem;
    text-align: center;
}

.box img{
    background-color: #0173f1;
    padding: 0.9rem;
    border-radius: 3.2rem;
    margin-top: 1.8rem;
    margin-bottom: 0.5rem;
}

.box img:hover{
    background-color: #fa4d5a;
    transition: all 0.3s ease;
}

.box p{
    font-size: 1.2rem;
    font-weight: 600;
    color: #444;
}

/* Trending */

.trending{
    width: 88%;
    margin: auto;
    margin-top: 110px;
}

.title-trending{
    font-size: 1rem;
    color: #fa4d5a;
    margin-bottom: 1rem;
}

.title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3.5rem;
}

.trending-2{
    font-size: 2.2rem;
    color: #333;
}

.view-all a{
    font-size: 0.9rem;
    font-weight: 600;
    text-decoration: none;
    color: #ffffff;
    padding: 0.9rem 1.8rem;
    border-radius: 1.5rem;
    background-color: #fa4d5a;
}

.view-all a:hover{
    background-color: #0173f1;
    transition: all 0.3s ease;
}

.trending-games{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 0.6rem;
}

.trending-div-link{
    text-decoration: none;
}

.games{
    position: relative;
    height: auto;
    min-height: 285px;
    background-color: #eee;
    border-radius: 1.5rem;
}

.games:hover .icon-shop{
    background-color: #0173f1;
}

.games:hover .game-title{
    color: #0173f1;
}

.games img{
    width: 100%;
    border-radius: 1.5rem;
}

.price-1-3{
    text-align: right;
    position: absolute;
    color: #fff;
    background-color: #0173f1;
    padding: 0.5rem 1rem;
    border-radius: 0.7rem;
    margin-top: -185px;
    margin-left: 190px;
}

.price-1-3 del{
    font-size: 0.9rem;
}

.text{
    width: 80%;
    margin: 1rem auto;
}

.text-sub{
    display: flex;
    justify-content: space-between;
}

.text-sub p{
    font-size: 0.9rem;
    color: #444;
}

.icon-shop{
    width: 2.5rem;
    height: 2.5rem;
    color: #fff;
    text-align: center;
    background-color: #ef5860;
    padding: 0.7rem 0.7rem 0.9rem;
    border-radius: 50%;
}

.game-title{
    position: absolute;
    margin-top: -1rem;
}

/* Most Played */

.most-played-bg{
    margin-top: 7rem;
    width: 100%;
    height: 620px;
    background-color: #F5F5F5;
    border-radius: 8rem;
}

.most-played{
    width: 88%;
    margin: auto;
    padding-top: 100px;
}

.title h2{
    font-size: 1.7rem;
    color: #333;
}

.mst-games{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.mstp-games{
    width: 100%;
    height: 275px;
    background-color: #fff;
    border-radius: 25px;
    display: flex;
    justify-content: start;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.mstp-games a img{
    width: 100%;
    height: 170px;
    border-radius: 25px;
    margin-bottom: 5px;
}

.mstp-games:hover .game-name{
    color: #0173f1;
    transition: all 0.3s ease;
}

.mstp-games:hover .explore{
    background-color: #0173f1;
    transition: all 0.3s ease;
}

.text-mstp{
    display: flex;
    justify-content: center;
    flex-direction: column; 
    align-items: center;
    margin-bottom: 4px;
}

.gray-text{
    font-size: 0.85rem;
    color: #777;
}

.game-name{
    font-weight: 500;
}

.explore{
    background-color: #fa4d5a;
    padding: 10px 15px;
    border-radius: 25px;
    color: #ffffff;
}

.explore a{
    text-decoration: none;
    color: #fff;
}

/* Top Caregories */

.top-cate{
    width: 88%;
    height: 500px;
    margin: 80px auto;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
}

.top-games{
    width: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 26px;
}

.tp-sub-games{
    background-color: #0173f1;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.tp-sub-games a img{
    width: 100%;
    height: auto;
    border-radius: 25px;
    margin: 0 auto -7px;
}

.tp-sub-games h3{
    font-weight: 600;
    text-align: center;
    margin: 20px 0px;
    color: #fff;
}

/* last section */

.main-1{
    width: 90%;
    height: 700px;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 110px;
}

.img-1{
    position: absolute;
    z-index: -1;
}

.img-1 img{
    border-radius: 25px;
}

.text-1{
    width: 450px;
    height: 600px;
    background-color: #eee;
    border-radius: 25px;
    position: absolute;
    z-index: 10;
    margin-left: -660px;
    margin-top: 80px;
}

.text-2{
    width: 450px;
    height: 465px;
    background-color: #eee;
    border-radius: 25px;
    position: absolute;
    z-index: 10;
    margin-left: 650px;
    margin-top: 215px;
}

.txt-1-sub{
    width: 65%;
    margin: 70px auto;
}

.txt-1-sub p{
    color: #444;
    margin-bottom: 60px;
}

.h1-title{
    margin-bottom: 50px;
}

.h1-title h1{
    font-size: 45px;
}

.color-h1-title{
    color: #0173f1;
}

.shop-now{
    text-decoration: none;
    background-color: #fa4d5a;
    color: #fff;
    border-radius: 25px;
    padding: 15px 30px;
}

.txt-2-sub{
    width: 75%;
    margin: 80px auto;
}

.h-one-title{
    font-size: 40px;
    font-weight: 800;
}

.h-one-title-last{
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 45px;
}

.email-input input{
    outline: none;
    background-color: #fff;
    padding: 17px 0px;
    padding-left: 20px;
    padding-right: 150px;
    border-radius: 35px;
    border: none;
}

.email-input input:focus{
    outline: 4px solid rgba(1, 115, 241, 0.3);
}

.btn-email{
    text-decoration: none;
    position: absolute;
    color: #fff;
    background-color: #fa4d5a;
    padding: 15px 35px;
    border-radius: 35px;
    margin-left: -180px;
}

.btn-email:hover{
    background-color: #0173f1;
}

/* Footer */

footer{
    width: 100%;
    height: 150px;
    background-image: url(../images/footer-bg.jpg);
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    text-align: center;
}

footer p{
    padding-top: 30px;
    font-size: 20px;
    color: #fff
}