html{
	scroll-behavior: smooth;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.background-img {
    width: 100%;
    height: 400px;
    background-image: url(../images/page-heading-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 400px;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom-left-radius: 140px;
    border-bottom-right-radius: 140px;
    z-index: -1;
}

header {
    position: relative; /* Ensure the header is positioned relative to the background image */
    z-index: 1; /* Place the header above the background image */
}


/* Header-Shop */

.header-shop{
	width: 90%;
	margin: auto;
}

.nav-shop{
	display: flex;
	justify-content: space-between;
	padding-top: 45px;
}

.nav-shop ul{
	display: flex;
	margin-top: 20px;
}

.nav-shop ul li{
	list-style-type: none;
	margin-left: 35px;
}

.nav-shop ul li a{
	text-decoration: none;
	border-radius: 35px;
	padding: 10px 20px;
	color: #fff;
	font-weight: 450;
}

.nav-hover:hover{
	background-color: rgba(255, 255, 255, 0.1);
}

.sign-in{
	background-color: #eb505c;
}

.main-focus{
	background-color: rgba(255, 255, 255, 0.1);
}

/* body */

.txt-body{
	width: 90%;
	margin: auto;
	text-align: center;
	margin-top: 70px;
	margin-bottom: 250px;
	
}

.txt-body h3 a, h1, .txt-body h3{
	text-decoration: none;
	color: #fff;
}

.txt-body h3 a, .txt-body h3{
	font-weight: 400;
}

.txt-body h1{
	margin-bottom: 20px;
	font-size: 50px;
	font-weight: 800;
}

.filters{
	width: 90%;
	margin: auto;
}

.filters{
	display: flex;
	justify-content: center;
	gap: 35px;
	margin-bottom: 80px;
}

.filters input[type="radio"] {
	display: none;
}

.filters label{
	font-weight: 800;
	font-size: 17px;
	color: #333;
	background-color: #eee;
	padding: 8px 17px;
	border-radius: 35px;
}

.filters label:hover{
	cursor: pointer;
	color: #eb505c;
	transition: all 0.2s ease;
}

input[type="radio"]:checked + label {
	background-color: #eb505c;
	color: #fff;
	transition: all 0.3s ease;
}

.game-list{
	width: 90%;
	margin: 70px auto 80px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 25px;
}

.game-list a{
	text-decoration: none;
}

.game-link {
    transition: all 0.3s ease;
}

.game-link[style="display: none;"] {
    opacity: 0;
    height: 0;
}


.game-list .game-link{
	background-color: #eee;
	height: 285px;
	border-radius: 25px;
}

.game-link:hover{
	cursor: default;
}

.games img:hover{
	cursor: pointer;
}

.text-icon .icon-shop:hover{
	cursor: pointer;
}

.games h3:hover{
	cursor: text;
}

.game-link:hover .icon-shop{
	background-color: #016fed;
}

.game-link:hover .game-name{
	color: #0191eb;
}

.games img{
	width: 100%;
	border-radius: 35px;
}

.price-tag{
	background-color: #0191eb;
	color: #fff;
	font-size: 18px;
	padding: 8px 10px;
	border-radius: 15px;
	display: inline-block;
	position: absolute;
	margin-left: -65px;
	margin-top: 20px;
}

.del-price{
	font-weight: 400;
	font-size: 16px;
}

.text-icon{
	width: 80%;
	margin: 20px auto 5px;
	display: flex;
	justify-content: space-between;
}

.game-catagory{
	color: #777;
	font-weight: 550;
}

.icon-shop{
	width: 40px;
	height: 40px;
	text-align: center;
	color: #fff;
	background-color: #eb505c;
	padding: 12px;
	border-radius: 50%;
}

.game-name{
	color: #000;
	position: absolute;
	margin-top: -25px;
	margin-left: 25px;
}

.buttons{
	width: 90%;
	margin: 0px auto 180px;
	display: flex;
	justify-content: center;
	gap: 15px;
}

.buttons a{
	text-decoration: none;
}

.buttons p{
	padding-top: 7px;
}

.buttons-01 p{
	font-size: 19px;
	font-weight: 700;
}

.buttons-01{
	background-color: #eee;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	text-align: center;
}

.buttons-01 p{
	color: #000;
}

#focused{
	background-color: #016fed;
}

#focused p{
	color: #fff;
}

.buttons-01:hover{
	background-color: #016fed;
	transition: all 0.2s ease;
	cursor: pointer;
}

.buttons-01:hover p{
	color: #fff;
	transition: all 0.1s ease;
}

/* footer */

footer{
	width: 100%;
	height: 150px;
	background-image: url(../images/footer-bg.jpg);
	background-position: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	border-top-left-radius: 150px;
	border-top-right-radius: 150px;
}

footer p{
	color: #fff;
	font-size: 20px;
	text-align: center;
	padding-top: 30px;
}