*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 450;
}

/* Header */

.header-bg{
    width: 100%;
    height: 150px;
    background-image: url(../images/banner-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    position: relative;
}

header{
    width: 90%;
    height: 150PX;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-nav ul li{
    list-style-type: none;
    display: inline;
    margin-left: 30px;
}

.home-nav ul li a{
    text-decoration: none;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 25px;
}

.hovered:hover{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 25px;
}

.focused{
    background-color: rgba(255, 255, 255, 0.1);
}

.focused-orange{
    background-color: #fa4d5a;
}

/* Home */

.home-bg{
    width: 100%;
    height: 770px;
    max-height: 770px;
    background-image: url(../images/banner-bg.jpg);
    background-size: cover;
    background-position: fixed;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    position: relative;
}

.container{
    width: 90%;
    margin: auto;
    padding-top: 80px;
    display: flex;
}

.home-txt{
    width: 60%;
}

.style-txt{
    width: 80%;
}

.home-img{
    width: 40%;
}

.style-img{
    text-align: right;
    margin-right: 370px;
}

.style-img img{
    width: 370px;
    border-radius: 25px;
    position: absolute;
}



.first-line{
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    margin-top: 15px;
}

.h2{
    color: #ffffff;
    font-weight: 400;
}

.caption-dec{
    margin-left: 100px;
}

.home-para{
    margin-top: 50px;
    font-weight: 500;
    color: #ffffff;
}

.input-search{
    margin-top: 60px;
}

.search-btn{
    text-decoration: none;
    color: #ffffff;
    background-color: #fa4d5a;
    padding: 15px 25px;
    border-radius: 25px;
    position: absolute;
    margin-left: 270px;
    margin-top: -49px;
}

.search-btn:hover{
    background-color: #0173f1;
}

.input-search input{
    border: #ffffff;
    padding: 17px 0px;
    padding-right: 228px;
    padding-left: 20px;
    border-radius: 25px;
    position: relative;
}

form input{
    outline: none;
}

.discounted-first{
    width: 70px;
    color: #ffffff;
    background-color: #0191eb;
    border-radius: 25px;
    padding-top: 7px;
    padding-right: 20px;
    padding-bottom: 7px;
    padding-left: 10px;
    position: absolute;
    margin-left: 365px;
    margin-top: 15px;
}

.discounted-rate{
    width: 100px;
    height: 100px;
    color: #ffffff;
    background-color: #fa4d5a;
    border-radius: 50%;
    padding-top: 28px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    position: absolute;
    margin-top: 375px;
    margin-left: 55px;
}

.two-section{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* position: absolute; */
    z-index: 10;
    margin-top: 220px;
}

.box{
    min-width: 270px;
    min-height: 200px;
    background-color: #ffffff;
    box-shadow: 0 0 10px #999;
    border-radius: 25px;
    text-align: center;
}

.box img{
    background-color: #0173f1;
    padding: 15px;
    border-radius: 50px;
    margin-top: 30px;
    margin-bottom: 5px;
}

.box img:hover{
    background-color: #fa4d5a;
}

/* Trending */

.trending{
    width: 90%;
    margin: auto;
    margin-top: 240px;
}

.title-h3{
    color: #fa4d5a;
    margin-bottom: 20px;
}

.trending-h1{
    font-size: 40px;
}

.title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.view-all a{
    text-decoration: none;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #fa4d5a;
}

.trending-games{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 25px;
}
.games{
    height: 290px;
    background-color: #eee;
    border-radius: 25px;
}

.text{
    width: 80%;
    margin: auto;
    margin-top: 25px;
}

.text-sub{
    display: flex;
    justify-content: space-between;
    margin-right: 5px;
}

.text-sub h2 a, .text-sub a{
    text-decoration: none;
}

.text-sub-title{
    color: #000;
    position: absolute;
    text-decoration: none;
    margin-top: -20px;
}

.text-sub-icon{
    color: #ffffff;
    background-color: #fa4d5a;
    padding: 9px 11px;
    border-radius: 100px;
    position: relative;
}

.text-sub-title:hover{
    color: #0173f1;
}

.text-sub-icon:hover{
    background-color: #0173f1;
}

.games img{
    width: 100%;
    position: relative;
    border-radius: 25px;
}

.price-trend13{
    background-color: #0191eb;
    padding: 10px 20px;
    color: #ffffff;
    position: absolute;
    border-radius: 15px;
    margin-top: -185px;
    margin-left: 180px;

}

.price-trend24{
    background-color: #0191eb;
    padding: 10px 20px;
    color: #ffffff;
    position: absolute;
    border-radius: 15px;
    margin-top: -185px;
    margin-left: 180px;
}

.gray-text{
    color: #999;
    font-weight: 300;
    font-size: 16px;
}

/* Most Played */

.most-played-bg{
    margin-top: 130px;
    width: 100%;
    height: 620px;
    background-color: #F5F5F5;
    border-radius: 150px;
}

.most-played{
    width: 90%;
    margin: auto;
    padding-top: 100px;
}

.mst-games{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.mstp-games{
    width: 100%;
    height: 270px;
    background-color: #fff;
    border-radius: 25px;
    display: flex;
    justify-content: start;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.mstp-games img{
    width: 100%;
    height: 170px;
    border-radius: 25px;
    margin-bottom: 5px;

}

.mstp-games h2 a{
    text-decoration: none;
    color: #000;
}

.text-mstp{
    display: flex;
    justify-content: center;
    flex-direction: column; 
    align-items: center;
    margin-bottom: 4px;

}

.game-name{
    margin-bottom: 0px;
}

.game-name:hover{
    color: #0173f1;
}

.explore{
    background-color: #fa4d5a;
    padding: 10px 15px;
    border-radius: 25px;
    color: #ffffff;
}

.explore:hover{
    background-color: #0173f1;
}

.explore a{
    text-decoration: none;
    color: #fff;
}

/* Top Caregories */

.top-cate{
    width: 90%;
    height: 500px;
    margin: 80px auto;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
}

.title-tp{
    margin-bottom: 10px;
    color: #fa4d5a;
    font-weight: 700;
    font-size: 17px;
}

.title-1-tp{
    font-weight: 700;
    font-size: 40px;
}

.top-games{
    width: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 26px;
}

.tp-sub-games{
    background-color: #0173f1;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.tp-sub-games img{
    width: 100%;
    height: auto;
    border-radius: 25px;
    margin: auto;
}

.tp-sub-games h3{
    text-align: center;
    margin: 20px 0px;
    color: #fff;
}

/* last section */

.main-1{
    width: 90%;
    height: 700px;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 110px;
}

.img-1{
    position: absolute;
    z-index: -1;
}

.img-1 img{
    border-radius: 25px;
}

.text-1{
    width: 450px;
    height: 600px;
    background-color: #eee;
    border-radius: 25px;
    position: absolute;
    z-index: 10;
    margin-left: -660px;
    margin-top: 80px;
}

.text-2{
    width: 450px;
    height: 465px;
    background-color: #eee;
    border-radius: 25px;
    position: absolute;
    z-index: 10;
    margin-left: 650px;
    margin-top: 215px;
}

.txt-1-sub{
    width: 65%;
    margin: 70px auto;
}

.txt-1-sub p{
    color: #444;
    margin-bottom: 60px;
}

.h3-title{
    color: #fa4d5a;
    font-weight: 1000;
    font-size: 16px;
    margin-bottom: 20px;
}

.h1-title{
    margin-bottom: 50px;
}

.h1-title h1{
    font-size: 45px;
}

.color-h1-title{
    color: #0173f1;
}

.shop-now{
    text-decoration: none;
    background-color: #fa4d5a;
    color: #fff;
    border-radius: 25px;
    padding: 15px 30px;
}

.txt-2-sub{
    width: 75%;
    margin: 80px auto;
}

.txt-2-sub h3{
    color: #fa4d5a;
    font-weight: 1000;
    font-size: 16px;
    margin-bottom: 20px;  
}

.h-one-title{
    font-size: 40px;
    font-weight: 800;
}

.h-one-title-last{
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 45px;
}

.email-input input{
    outline: none;
    background-color: #fff;
    padding: 17px 0px;
    padding-left: 20px;
    padding-right: 150px;
    border-radius: 35px;
    border: none;
}

.email-input input:focus{
    outline: 4px solid rgba(1, 115, 241, 0.3);
}

.btn-email{
    text-decoration: none;
    position: absolute;
    color: #fff;
    background-color: #fa4d5a;
    padding: 15px 35px;
    border-radius: 35px;
    margin-left: -180px;
}

.btn-email:hover{
    background-color: #0173f1;
}

/* Footer */

footer{
    width: 100%;
    height: 150px;
    background-image: url(../images/footer-bg.jpg);
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    text-align: center;
}

footer p{
    padding-top: 30px;
    font-size: 20px;
    color: #fff
}